* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #016f32;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  overflow: hidden;
  width: 100vw;
  height: 90vh;
  position: fixed;
}

h1 {
  color: goldenrod;
}

#message-el, #new-game-msg-el {
  font-style: italic;
  color: rgb(7, 7, 66);
}

#new-game-msg-el, #player-el {
  visibility: hidden;
}

.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#startGameBtn, #newCardBtn {
  color: #016f32;
  width: 150px;
  height: 75px;
  background-color: goldenrod;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 3px;
}

.blinkingText{
  animation: blinkingText 1.5s infinite;
}
@keyframes blinkingText{
  0% { color: #B4F8C8; }
  49% { color: #15B5B0; }
  60% { color: transparent }
  99% { color: transparent }
  100% { color: #B4F8C8; }
}


/* MEDIA QUERIES */
@media screen and (max-width: 767.98px) {
  .container {
    font-size: 35px;
  }
}

@media screen and (max-width: 598.98px) {
  .container {
    font-size: 30px;
  }
}

@media screen and (max-width: 498.98px) {
  .container {
    font-size: 25px;
    height: 85vh;
  }
}

@media screen and (max-width: 424.98px) {
  .container {
    font-size: 22px;
  }

  .button-flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 364.98px) {
  .container {
    font-size: 20px;
    height: 100vh;
  }
}

@media screen and (max-width: 334.98px) {
  .container {
    font-size: 18px;
  }
}
